.vs/
SFML Game_snake.sln
SFML_Game.vcxproj
SFML_Game.vcxproj.filters
SFML_Game.vcxproj.user
SFML_Game/
Dodle Jump MB.vcxproj.user
sfml-audio-3.dll
sfml-audio-d-3.dll
sfml-graphics-3.dll
sfml-graphics-d-3.dll
sfml-network-3.dll
sfml-network-d-3.dll
sfml-system-3.dll
sfml-system-d-3.dll
sfml-window-3.dll
sfml-window-d-3.dll
x64/
Debug/
Release/
